
<peach-table [peachScrollWidth]="'120%'" [peachData]="gridData" [checkbox]="true" [isSingleSelect]="true" [isLoading]="isLoading" (selectionChange)="rowSelectionChange($event)" (pageChange)="pageChange($event)">
  <peach-table-column width="100" field="id" title="ID"></peach-table-column>
  <peach-table-column width="100" field="name" title="Name"></peach-table-column>
  <peach-table-column width="100" field="age" title="Age"></peach-table-column>
  <peach-table-column width="100" field="sex" title="SEX">
    <ng-template peach-table-cell let-row="row">{{row.sex}}</ng-template>
  </peach-table-column>
  <peach-table-column width="100" field="id" title="Action" align="center">
    <ng-template peach-table-head let-title="title">
      <b>{{ title }}</b>
    </ng-template>
    <ng-template peach-table-cell let-row="row">
      <a href="javascript:void(0)" (click)="modify(row)">修改</a>
    </ng-template>
  </peach-table-column>
</peach-table>

